<%- include("header") -%>


    <div class="box" id="heading">

        <h1><%= TODAY  %></h1>


    </div>

    <div class="box">
       <% ITEMS.forEach(item=>{ %>
         <form action="/delete" method="POST">        
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id %>"onChange="this.form.submit()" />
                <p><%=item.name%></p>
    
    
            </div>
            <input type="hidden" name="listName" value="<%=TODAY%>"></input>
          </form>   
      <%  }); %>
        
        <form class="item" action="/" method="POST">
            <input type="text" name="input" placeholder="New Item" autocomplete="off" autofocus />
            <button type="submit" name="buttonVal" value=<%=TODAY%>  >+</button>
        </form>
        
    </div>



    <%- include("footer") -%>
